<!-- Color -->
<article id="bs-color">
	<header>
		<h1>Color</h1>
		<p class="lead">The base palette</p>
	</header>
	<!-- Branding -->
	<section id="bs-branding" class="panel">
		<header class="panel__heading">
			<h2>Branding</h2>
			<p>Setting up swatches for site branding, contextual states, greyscales and social branding</p>
		</header>
		<div class="panel__body">
			<section class="sub-section">
				<h3>Site Branding</h3>
				<ul class="palette list-unstyled list-inline">
					<li class="brand-primary">Primary</li>
					<li class="brand-secondary">Secondary</li>
				</ul>
			</section>
			<section class="sub-section">
				<h3>States</h3>
				<ul class="palette list-unstyled list-inline">
					<li class="brand-success">Success</li>
					<li class="brand-info">Info</li>
					<li class="brand-warning">Warning</li>
					<li class="brand-danger">Danger</li>
				</ul>
			</section>
			<section class="sub-section">
				<h3>Neutral Colors</h3>
				<ul class="palette list-unstyled list-inline">
					<li class="gray-darker">Darker</li>
					<li class="gray-dark">Dark</li>
					<li class="gray">Neutral</li>
					<li class="gray-light">Light</li>
					<li class="gray-lighter">Lighter</li>
					<li class="gray-lightest">Lightest</li>
				</ul>
			</section>
			<section class="sub-section">
				<h3>Social Branding</h3>
				<ul class="palette list-unstyled list-inline">
					<li class="brand-twitter"><i class="fa fa-twitter"></i></li>
					<li class="brand-facebook"><i class="fa fa-facebook"></i></li>
					<li class="brand-linkedin"><i class="fa fa-linkedin"></i></li>
					<li class="brand-pinterest"><i class="fa fa-pinterest"></i></li>
					<li class="brand-dribbble"><i class="fa fa-dribbble"></i></li>
					<li class="brand-google"><i class="fa fa-google"></i></li>
				</ul>
			</section>
		</div>
		<footer class="panel__footer">
			<ul class="labels">
				<li class="label label-info">CSS</li>
				<li class="label label-info">HTML</li>
				<li class="label label-info">Font Awesome</li>
			</ul>
		</footer>
	</section>
</article>