<!-- Images -->
<article id="bs-images">
	<header>
		<h1>Images</h1>
		<p class="lead">Styles for various image situations</p>
	</header>
	<section id="bs-thumbnails" class="panel">
		<header class="panel__heading">
			<h2>Thumbnails</h2>
			<p>Standard thumbnail styles</p>
		</header>
		<div class="panel__body">
			<ul class="list-unstyled list-inline">
				<li>
					<figure>
						<a href="#" class=""><img class="img img--thumbnail" src="{{ "100" | placeholder }}" alt="..."></a>
						<figcaption>Thumbnail Label</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<a href="#" class=""><img class="img img--thumbnail" src="{{ "100" | placeholder }}" alt="..."></a>
						<figcaption>Thumbnail Label</figcaption>
					</figure>
				</li>
			</ul>
		</div>
		<footer class="panel__footer">
			<ul class="labels">
				<li class="label label--info">CSS</li>
				<li class="label label--info">HTML</li>
				<li class="label label--mixture">Mixture Placeholder</li>
			</ul>
		</footer>
	</section>
	<section id="bs-image-frames" class="panel">
		<header class="panel__heading">
			<h2>Image Frames</h2>
			<p>Applying frames of different shapes to images</p>
		</header>
		<div class="panel__body">
			<ul class="list-unstyled list-inline">
				<li>
					<figure>
						<a href="#"><img class="img img--rounded" src="{{ "100" | placeholder }}" alt="..."></a>
					</figure>
				</li>
				<li>
					<figure>
						<a href="#"><img class="img img--circle" src="{{ "100" | placeholder }}" alt="..."></a>
					</figure>
				</li>
			</ul>
		</div>
		<footer class="panel__footer">
			<ul class="labels">
				<li class="label label--info">CSS</li>
				<li class="label label--info">HTML</li>
				<li class="label label--mixture">Mixture Placeholder</li>
			</ul>
		</footer>
	</section>
</article>