<!-- Tables -->
<article id="bs-tables">
	<header>
		<h1>Tables</h1>
		<p>Styling tables in various states</p>
	</header>
	<!-- Basic Table -->
	<section id="bs-basic-table" class="panel">
		<header class="panel__heading">
			<h2>Basic Table</h2>
			<p>Default styling</p>
		</header>
		<div class="panel__body">
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Username</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Mark</td>
						<td>Otto</td>
						<td>@mdo</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Jacob</td>
						<td>Thornton</td>
						<td>@fat</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer class="panel__footer">
			<ul class="labels">
				<li class="label label--info">CSS</li>
				<li class="label label--info">HTML</li>
			</ul>
		</footer>
	</section>
	<!-- Striped Table -->
	<section id="bs-striped-table" class="panel">
		<header class="panel__heading">
			<h2>Striped Table</h2>
			<p>Table with stripes applied to alternative rows</p>
		</header>
		<div class="panel__body">
			<table class="table table--striped">
				<thead>
					<tr>
						<th>#</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Username</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Mark</td>
						<td>Otto</td>
						<td>@mdo</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Jacob</td>
						<td>Thornton</td>
						<td>@fat</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer class="panel__footer">
			<ul class="labels">
				<li class="label label--info">CSS</li>
				<li class="label label--info">HTML</li>
			</ul>
		</footer>
	</section>
	<!-- Bordered Table -->
	<section id="bs-bordered-table" class="panel">
		<header class="panel__heading">
			<h2>Bordered Table</h2>
			<p>Table styled with a border</p>
		</header>
		<div class="panel__body">
			<table class="table table--bordered">
				<thead>
					<tr>
						<th>#</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Username</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Mark</td>
						<td>Otto</td>
						<td>@mdo</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Jacob</td>
						<td>Thornton</td>
						<td>@fat</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer class="panel__footer">
			<ul class="labels">
				<li class="label label--info">CSS</li>
				<li class="label label--info">HTML</li>
			</ul>
		</footer>
	</section>
	<!-- Condensed Table -->
	<section id="bs-condensed-table" class="panel">
		<header class="panel__heading">
			<h2>Condensed Table</h2>
			<p>Styled to make tables more compact</p>
		</header>
		<div class="panel__body">
			<table class="table table--condensed">
				<thead>
					<tr>
						<th>#</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Username</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Mark</td>
						<td>Otto</td>
						<td>@mdo</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Jacob</td>
						<td>Thornton</td>
						<td>@fat</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer class="panel__footer">
			<ul class="labels">
				<li class="label label--info">CSS</li>
				<li class="label label--info">HTML</li>
			</ul>
		</footer>
	</section>
	<!-- Hover Table -->
	<section id="bs-hover-table" class="panel">
		<header class="panel__heading">
			<h2>Hover Table</h2>
			<p>Enables a hover state on table rows</p>
		</header>
		<div class="panel__body">
			<table class="table table--hover">
				<thead>
					<tr>
						<th>#</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Username</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Mark</td>
						<td>Otto</td>
						<td>@mdo</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Jacob</td>
						<td>Thornton</td>
						<td>@fat</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer class="panel__footer">
			<ul class="labels">
				<li class="label label--info">CSS</li>
				<li class="label label--info">HTML</li>
			</ul>
		</footer>
	</section>
	<!-- Contextual Table -->
	<section id="bs-contextual-table" class="panel">
		<header class="panel__heading">
			<h2>Contextual Table</h2>
			<p>To apply contexts to rows and cells</p>
		</header>
		<div class="panel__body">
			<table class="table table--hover">
				<thead>
					<tr>
						<th>#</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Username</th>
					</tr>
				</thead>
				<tbody>
					<tr class="active">
						<td>1</td>
						<td>Mark</td>
						<td>Otto</td>
						<td>@mdo</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Jacob</td>
						<td>Thornton</td>
						<td>@fat</td>
					</tr>
					<tr class="success">
						<td>3</td>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
					</tr>
					<tr class="info">
						<td>3</td>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
					</tr>
					<tr class="warning">
						<td>3</td>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
					</tr>
					<tr class="danger">
						<td>3</td>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
					</tr>
					<tr>
						<td class="success">3</td>
						<td class="info">Larry</td>
						<td class="warning">the Bird</td>
						<td class="danger">@twitter</td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer class="panel__footer">
			<ul class="labels">
				<li class="label label--info">CSS</li>
				<li class="label label--info">HTML</li>
			</ul>
		</footer>
	</section>
	<!-- Responsive Table -->
	<section id="bs-responsive-table" class="panel">
		<header class="panel__heading">
			<h2>Responsive Table</h2>
			<p>Provides any tables below 768px wide with horizontal scrollbars</p>
		</header>
		<div class="panel__body">
			<div class="table-responsive">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>#</th>
							<th>Table heading</th>
							<th>Table heading</th>
							<th>Table heading</th>
							<th>Table heading</th>
							<th>Table heading</th>
							<th>Table heading</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
						</tr>
						<tr>
							<td>1</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
						</tr>
						<tr>
							<td>1</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<footer class="panel__footer">
			<ul class="labels">
				<li class="label label--info">CSS</li>
				<li class="label label--info">HTML</li>
			</ul>
		</footer>
	</section>
</article>