<!-- Typography -->
<article id="bs-typography">
	<header>
		<h1>Typography</h1>
		<p class="lead">Styling up of headings, block-level elements, lists and other various typography</p>
	</header>
	<!-- Typeface -->
	<section id="bs-typeface" class="panel">
		<header class="panel__heading">
			<h2>Typeface</h2>
			<p>Font Family and weights</p>
		</header>
		<div class="panel__body">
			<section class="sub-section">
				<h3>Font Family</h3>
				<p class="base-font-family"><code>$base-font-family</code> is Open Sans, sans-serif.</p>
				<p class="base-font-family-serif"><code>$base-font-family-serif</code> is Georgia, Times New Roman, Times, serif.</p>
				<p class="base-font-family-headings"><code>$base-font-family-headings</code> is Franklin Gothic urw, sans-serif.</p>
				<p class="base-font-family-condensed"><code>$base-font-family-condensed</code> is Proxima Nova Alt Ext Cond, sans-serif.</p>
				<p class="base-font-family-code"><code>$base-font-family-code</code> is Source Sans Pro, Monaco, Courier New, Monospace.</p>
				<p class="base-font-family-amp"><code>$base-font-family-amp</code> is &amp;.</p>
			</section>
			<section class="sub-section">
				<h3>Weights</h3>
				<p class="light">Light text (300).</p>
				<p class="normal">Normal text (400).</p>
				<p class="semi-bold">Semi-bold text (600).</p>
				<p class="bold">Bold text (700).</p>
				<p class="extra-bold">Extra bold text (800).</p>
			</section>
		</div>
		<footer class="panel__footer">
			<ul class="labels">
				<li class="label label--info">CSS</li>
				<li class="label label--info">HTML</li>
				<li class="label label--info">Google Fonts</li>
			</ul>
		</footer>
	</section>
	<!-- Headings -->
	<section id="bs-headings" class="panel">
		<header class="panel__heading">
			<h2>Headings</h2>
			<p>All headings including optional small text within the heading</p>
		</header>
		<div class="panel__body">
			<h1>This is a H1 tag <small>With a small subtext</small></h1>
			<h2>This is a H2 tag <small>With a small subtext</small></h2>
			<h3>This is a H3 tag <small>With a small subtext</small></h3>
			<h4>This is a H4 tag <small>With a <a href="#">Link</a> within small subtext</small></h4>
			<h5>This is a H5 tag</h5>
			<h6>This is a H6 tag</h6>
		</div>
		<footer class="panel__footer">
			<ul class="labels">
				<li class="label label--info">CSS</li>
				<li class="label label--info">HTML</li>
			</ul>
		</footer>
	</section>
	<!-- Block & Text Level Elements -->
	<section id="bs-block-text-elements" class="panel">
		<header class="panel__heading">
			<h2>Block & Text Level Elements</h2>
			<p>Includes body copy, addresses and other miscellaneous elements.</p>
		</header>
		<div class="panel__body">
			<section class="sub-section">
				<p class="lead">Some lead text to emphasise an opening paragraph in any article.</p>
				<p>Then we adopt a more general type size for all other paragraphs, <strong>this is a strong element</strong> and is used to indicate it is important or worth noting, we can also use <em>the emphasise tag</em>.  <br />
				We can also have a <span class="text-muted">Muted Text Color.</span></p>
				<p>Within the body copy we can have <a href="#">links</a> and they can be for external or internal links.</p>
			</section>
			<section class="sub-section">
				<h3>Misc Elements</h3>
				<p><small>This is small text using the <em>small</em> tag.</small></p>
				<p>Text can also have <abbr title="this is an abbreviation">abbreviations</abbr> applied also.</p>
				<p>Abbreviations with the .initialism class applied. <abbr title="HTML" class="initialism">HTML</abbr></span>.</p>
				<p class="text-left">This text is left aligned.</p>
				<p class="text-right">This text is right aligned.</p>
				<p class="text-center">This text is centre aligned.</p>
			</section>
			<section class="sub-section">
				<h3>Address</h3>
				<address>
				<p><strong>Pixels + Code</strong><br />
				Madison Avenue,<br />
				New York,<br />
				NY,<br />
				USA</p>
				</address>
			</section>
		</div>
		<footer class="panel__footer">
			<ul class="labels">
				<li class="label label--info">CSS</li>
				<li class="label label--info">HTML</li>
			</ul>
		</footer>
	</section>
	<!-- Blockquotes -->
	<section id="bs-blockquotes" class="panel">
		<header class="panel__heading">
			<h2>Blockquotes</h2>
			<p>Includes quotes and citations</p>
		</header>
		<div class="panel__body">
			<blockquote>
				<p>Life is pretty simple: You do some stuff. Most fails. Some works. You do more of what works. If it works big, others quickly copy it. Then you do something else. The trick is the doing something else.</p>
				<cite>Leonardo da Vinci</cite>
			</blockquote>
		</div>
		<footer class="panel__footer">
			<ul class="labels">
				<li class="label label--info">CSS</li>
				<li class="label label--info">HTML</li>
			</ul>
		</footer>
	</section>
	<!-- Contextual Text Elements -->
	<section id="bs-contextual-text" class="panel">
		<header class="panel__heading">
			<h2>Contextual Text Elements</h2>
			<p>Bringing in different colours to give text elements some context.</p>
		</header>
		<div class="panel__body">
			<section class="sub-section">
				<h3>Emphasis Variants</h3>
				<p class="text-primary">Primary text color</p>
				<p class="text-success">Success text color</p>
				<p class="text-info">Info text color</p>
				<p class="text-warning">Warning text color</p>
				<p class="text-danger">Danger text color</p>
			</section>
			<section class="sub-section">
				<h3>Contextual Backgrounds</h3>
				<div class="bg-primary"><p>Primary</p></div>
				<div class="bg-success"><p>Success</p></div>
				<div class="bg-info"><p>Info</p></div>
				<div class="bg-warning"><p>Warning</p></div>
				<div class="bg-danger"><p>Danger</p></div>
			</section>
		</div>
		<footer class="panel__footer">
			<ul class="labels">
				<li class="label label--info">CSS</li>
				<li class="label label--info">HTML</li>
			</ul>
		</footer>
	</section>
	<!-- Lists -->
	<section id="bs-lists" class="panel">
		<header class="panel__heading">
			<h2>Lists</h2>
			<p>Styles and variants for unordered lists, ordered lists and definition lists</p>
		</header>
		<div class="panel__body">
			<section class="sub-section">
				<h3>Unordered Lists</h3>
				<ul>
					<li>Item</li>
					<li>Item</li>
					<li>Item</li>
				</ul>
				<h3>Ordered Lists</h3>
				<ol>
					<li>Item</li>
					<li>Item</li>
					<li>Item</li>
				</ol>
			</section>
			<section class="sub-section">
				<h3>Unstyled</h3>
				<ul class="list-unstyled">
					<li>Item</li>
					<li>Item</li>
					<li>Item</li>
				</ul>
			</section>
			<section class="sub-section">
				<h3>Inline</h3>
				<ul class="list-inline">
					<li>Item</li>
					<li>Item</li>
					<li>Item</li>
				</ul>
			</section>
			<section class="sub-section">
				<h3>Definition list</h3>
				<dl>
					<dt>Definition title</dt>
					<dd>Definition description</dd>
				</dl>
			</section>
			<section class="sub-section">
				<h3>Horizontal Definition list</h3>
				<dl class="dl-horizontal">
					<dt>Description lists</dt>
					<dd>A description list is perfect for defining terms.</dd>
					<dt>Euismod</dt>
					<dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
					<dd>Donec id elit non mi porta gravida at eget metus.</dd>
					<dt>Malesuada porta</dt>
					<dd>Etiam porta sem malesuada magna mollis euismod.</dd>
					<dt>Felis euismod semper eget lacinia</dt>
					<dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
				</dl>
			</section>

		</div>
		<footer class="panel__footer">
			<ul class="labels">
				<li class="label label--info">CSS</li>
				<li class="label label--info">HTML</li>
			</ul>
		</footer>
	</section>
	<!-- Code -->
	<section id="bs-code" class="panel">
		<header class="panel__heading">
			<h2>Code</h2>
			<p>For technical content</p>
		</header>
		<div class="panel__body">
			<section class="sub-section">
				<h3>Inline</h3>
				<p>For example <code>&lt;section&gt;</code> should be wrapped as inline.</p>
			</section>
			<section class="sub-section">
				<h3>User input</h3>
				<p>Use the <kbd>&lt;kbd&gt;</kbd> to indicate that it is typically entered using a keyboard.</p>
			</section>
			<section class="sub-section">
				<h3>Basic block</h3>
				<p>Use the <code>&lt;pre&gt;</code> for multiple lines.  Making sure to escape any angle brackets in the code for proper rendering.</p>
				<pre>&lt;p&gt;Sample text here...&lt;/p&gt;</pre>
			</section>
		</div>
		<footer class="panel__footer">
			<ul class="labels">
				<li class="label label--info">CSS</li>
				<li class="label label--info">HTML</li>
			</ul>
		</footer>
	</section>
</article>